{{ partial "header" . }}
{{ partial "cover" .}}
<div class="container clearfix">
    <main role="main" class="content">
        <a class="btn home" href="{{ .Site.BaseURL }}" title="{{ .Site.Data.l10n.article.back_to_home }}">&laquo; {{ .Site.Data.l10n.article.back_to_home }}</a>
        {{ $paginator := .Paginate .Data.Pages }}
        {{ range $paginator.Pages }}
            {{ .Render "summary" }}
        {{ end }}
        {{ partial "pagination" . }}
    </main>

    {{ partial "author" . }}
</div>
{{ partial "footer" . }}
