<header class="site-header">
                
  <div class="transparent-layer">
      <h2>{{ .Site.Params.header_title }}</h2>
      <h1 href="//gitlab.com/{{.}}" class="icon-down-dir" title="Down"></h1>
  </div>
</header>