{{ with .Site.Social.twitter }}
<li><a href="//twitter.com/{{.}}" class="icon-twitter" target="_blank" title="Twitter"></a></li>
{{ end }}

{{ with .Site.Social.facebook }}
<li><a href="//facebook.com/{{.}}" class="icon-facebook-squared" target="_blank" title="Facebook"></a></li>
{{ end }}

{{ with .Site.Social.instagram }}
<li><a href="//instagram.com/{{.}}" class="icon-instagram" target="_blank" title="Instagram"></a></li>
{{ end }}

{{ with .Site.Social.github }}
<li><a href="//github.com/{{.}}" class="icon-github" target="_blank" title="Github"></a></li>
{{ end }}

{{ with .Site.Social.youtube }}
<li><a href="//youtube.com/channel/{{.}}" class="icon-youtube-play" target="_blank" title="Youtube"></a></li>
{{ end }}

{{ with .Site.Social.gitlab }}
<li><a href="//gitlab.com/{{.}}" class="icon-gitlab" target="_blank" title="Gitlab"></a></li>
{{ end }}

<li><a href="{{ .Site.BaseURL }}post/index.xml" class="icon-rss" target="_blank" title="RSS"></a></li>
